.section-about-me {
    color: gray;
}
.about-header {
    margin-bottom: 40px;
    font-size: 40px;
    margin-top: 15px;
}

.cool-me {
    border-radius: 20%;
}
.aboutme-grid {
    margin-bottom: 50px;
}
.about-txt {
    width: 75%;
    text-align: center;
    padding-top: 50px;
}

.typing-move {
    left: 33%;
}
@media only screen and (max-width: 768px) {
    .typing-move {
        left: 28%;
    }
}
@media only screen and (max-width: 576px) {
    .typing-move {
        left: 12%;
    }
}