.section-about-me {
    color: gray;
}
.about-header {
    margin-bottom: 40px;
    font-size: 40px;
    margin-top: 15px;
}

.cool-me {
    border-radius: 20%;
}
.aboutme-grid {
    margin-bottom: 50px;
}