.section-about-me {
    color: gray;
}
.about-header {
    margin-bottom: 40px;
    font-size: 40px;
    margin-top: 15px;
}
.about-txt p {
    
}
/* .main-about-section {
    max-width: 300px;
    max-height: 300px;
} */