.contact-icon {
  color: #1976d2;
}
.contact-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.align-icon {
    text-align: center;
}
.section-contact {
    height: 200px;
    padding-bottom: 30px;
}
.section-contact h2 {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: bold;
    color: #1976d2;
}