.landing-grid {
  /*background: #bdc3c7;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
  }
  #front-page {
    padding-bottom: 30px;
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  .profile-pic {
    border-radius: 20%;
    max-height: 300px;
    max-width: 300px;
    margin: 5em auto;
    margin-top: 5em;
    margin-bottom: 1em;
    background-size: cover;

  }
  .cover-img {
    margin-bottom: 50px;
  }
  .banner-text {
    padding-top: 20px;
    z-index: 5;
    width: 100%;
    margin:  0 auto;
    margin-top: 7%;
    border-radius: 10px;
    text-align:center;
    top: 30%;
  }
  .banner-text h1 {
    font-weight: bold;
    color:#808080;
  }
  h4 {
    font-size: 1.5rem;
  }
  .banner-text h4 {
    color: #808080;
    font-size: 2em;
  }
  .banner-text p {
    color: #808080;
  }

  .dev-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .develop-icon {
    color: white;
    font-size: 40px;
  }


  ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .moving-logos {
    width: 75%;
  }
  .banner-text {
    margin-top:17%
  }
}
@media only screen and (min-width: 769px) {
  .moving-logos {
    width: 50%;
  }
}

li {
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 100px;
  height: 100px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

